.user-form {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.user-form h2 {
  padding: 0 30px;
}

.user-form form {
  margin: auto;
  width: 300px;
  max-width: calc(100vw - 100px);
}
.user-form form > * {
  margin: 15px 0;
}

.input label {
  font-weight: bold;
  background: #fff;
  padding: 0 5px;
  margin: 0 0 0 10px;
  width: fit-content;
  transform: translateY(0.5em);
}

.input input {
  padding: 10px;
  border: 1px solid #000;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.actions button {
  color: #000;
  border: 1px solid #000;
  padding: 10px 25px;
}

.actions button:hover {
  background: #000;
  color: #fff;
}
