article {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  width: 400px;
  max-width: calc(100vw - 50px);
}

article:hover {
  border-left: 10px solid #000;
}

.card-img {
  margin: 0 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
}
