.detail-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div {
  display: flex;
  flex-direction: column;
}

span {
  margin: 10px;
}

span span {
  font-weight: bold;
}

.detail-page button {
  color: #000;
  border: 1px solid #000;
  margin: 30px 0;
  padding: 10px 25px;
}

.detail-page button:hover {
  background: #000;
  color: #fff;
}
