header {
  height: 70px;
  background: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0 15px;
}

.logo {
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

button {
  background: none;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  cursor: pointer;
}
